<div id="progressModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header text-center">
		<h3>{{ header }}{% if sub_header %}<br>
			<small>{{ sub_header }}</small>{% endif %}</h3>
	</div>
	<div class="modal-body">
		<br>
		<div class="row-fluid">
			<div class="span6 offset3 text-center">
				<div class="progress progress-striped active">
					<div class="bar" style="width: 100%;"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
	</div>
</div>