{% extends "app_base.html" %}

{% block main_header %}
	<div class='page-header'>
		<h1>Cancel Subscription</h1>
	</div>
{% endblock main_header %}
{% block main_content %}

	<p class='lead'>If you want to cancel your subscription, click on the button below.</p>
	<br>
	<br>

	<a id='cancel' class="btn btn-danger"href="#">CANCEL SUBSCRIPTION</a>

	<div id="confirmModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-header text-center">
			<h3>Confirm Cancellation</h3>
		</div>
		<div class="modal-body">
			<br>
			<div class="row-fluid">
				<div class="span8 offset2 text-center">
					Do you really want to cancel your subscription?
				</div>
				<form id="cancelSubscriptionForm" action="{% url 'cancel_ajax' %}" method="POST">
					{% csrf_token %}
				</form>
			</div>
		</div>
		<div class="modal-footer">
			<div class='text-center'>
				<a id="confirm-yes" class="btn btn-danger" href="#">Yes</a>
				<a id="confirm-no" class="btn btn-default" href="#">No</a>
			</div>
		</div>
	</div>

	{% include "main/modals/progress.html" with header="Cancelling subscription" sub_header="Waiting for response from payment gateway" %}

	{% include "main/modals/error.html" with sub_header="Please contact our support team." %}

	{% include "main/modals/success.html" with header="Your subscription was cancelled." success_message="Sorry to see you go..."%}
{% endblock main_content %}

{% block extra_js %}

<script type="text/javascript">
$(function(){

	var redirectURL = '{% url "home" %}'
	$form = $('#cancelSubscriptionForm');
	$confirmModal = $('#confirmModal');

	$progressModal = $('#progressModal');
	$errorModal = $('#errorModal');
	$successModal = $('#successModal');

	$('#cancel').click(function(){
		$confirmModal.modal('show');
	});

	$('#confirm-no').click(function(){
		$confirmModal.modal('hide');
	});

	$('#confirm-yes').click(function(){
		$confirmModal.modal('hide');
		$progressModal.modal('show');

		$.ajax({
			type: "POST",
			url: $form.attr('action'),
			data: $form.serialize(),
			success: function(data){
				$progressModal.modal('hide');
				$successModal.modal('show');
				setTimeout(function(){
					window.location = redirectURL;
				}, 2000);
			},
			error:function(data){
				var str = JSON.parse(data.responseText);
				$progressModal.modal('hide');
				$errorModal.modal('show');
				$('#errorMsg').text(str);
			}
		});
	});
});
</script>
{% endblock extra_js %}