{% extends "site_base.html" %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="span8 offset2 text-center">
				<div class="page-header">
					<h1>Vanilla Checkout.js</h1>
				</div>
				<br>
				<br>

				<div class="well span3">
					<h3>Normal Potatoes</h3>
					<p><i class="icon-gbp icon-2x"></i><span class="subscription-price"> 15</span></p>
					<p>per month</p>
					{% include "main/payment/_payment_form.html" with plan=plans.potato_normal %}

					<a href="" class="subscribeBtn btn btn-success btn-large">Sign Up</a>
					<br>
					<br>
				</div>

				<div class="well span3">
					<h3>Premier Potatoes</h3>
					<p><i class="icon-gbp icon-2x"></i><span class="subscription-price"> 30</span></p>
					<p>per month</p>
					{% include "main/payment/_payment_form.html" with plan=plans.potato_premier %}

					<a href="" class="subscribeBtn btn btn-success btn-large">Sign Up</a>
					<br>
					<br>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center">
				<p><small>All payments are securely handled by <a href="//www.stripe.com" target="_blank">Stripe</a>.</small></p>
			</div>
		</div>		
	</div>

	{% block extra_content %}
	{% endblock extra_content %}

	{% include 'main/_cheatsheet.html' %}
{% endblock body %}

{% block extra_js %}
{% endblock extra_js %}